
    .services{
     
    }
    .services .card-container{
        padding-bottom: 3%;
        border: 1px 1px 1px solid pink;
        background-color: white;

        padding-left: 4%;
        padding-right: 4%;
        
        

      }

.card-container {
    
    width: 100%;
    float: left;
    display: flex;
    margin: auto;
    margin: 0 auto;
    padding-bottom: 2%;
    padding-top: 3%;
    border: 2% solid black;

   
  }
  
  .card {

    width: 19%;
    margin: auto;
    position: relative;
    border: 2% solid black;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    transform-origin: bottom;
    transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
  }
  
  .card:hover {
    transform: translateY(-10px) rotateX(-10deg);
    /* box-shadow: 0px 10px 20px white; */
  }
  
  .card-image {
    height: 150px;
    overflow: hidden;
    width: 100%;
    display: block;
    margin: 0 auto;
  }
  
  .card-image img {
    width: 100%;
    height: 98%;
    object-fit: cover;
  }
  
  .card-content {
    padding: 20px;
    background-color:rgb(31, 28, 28);
    color: white;
    height: 170px;
  }
  