/* Container holding the image and the text */
body{background-color: black;

  
}
.home-image {
  margin-top: 3.5%;
    position: relative;
    text-align: center;
    color: white;
 
      /* box-shadow: 1px 1px 30px 20px gray; */

  }
  .home-image img{
    opacity: 80%;
    margin-top: 0%;
  }
  hr{
	color: #DB710E;
	padding: 1.5px;
	
  }
  /* body{
    background-image: url("Images/body_img.jpg");
  } */


  .bottom-left {
    position: absolute;
    display: block;
    margin:0 auto;
    bottom: -1px;
    left: 5%;
    font-weight: 900;
	  background: black;
  border-radius: 1%;
  opacity: 80%;
    color: white;
    width:90%;
    padding: 1%;
    border: 0.01px solid white;
  

  }
  /* Centered text */
  .centered {
    position: absolute;
    top: 40%;
    left:30%;
    transform: translate(-30%, -50%);
    height: auto;

  }

  .centered h1 {
    font-size: 70px;
  }
  .centered h4 {
    text-align: justify;
    color: white;
    font-size: 33px;
    letter-spacing: 0;
  }
  .vl {
    background: #DB710E;
    padding: 1.2px;
    width: 2px; 
    left: 45%;position:absolute;
    height: 170px;}

    .row2 .column2{
      color: white;
    }
.row2 .column2.left h1{
    font-weight: 800;
}
.row2 .column2 p{
    font-size: 18px;
    color: white;

}
.row2 .column2.right h4{
    font-style: bold;
    font-weight: 700;
}

.row1 .column1{
    color: white;
    margin-left: 5%;
   

    width: 40%;
    height: 300px;

    

}

.row1 .column1 p{
    font-size: 20px;
    text-align: center;
    color: white;
    width: 90%;
    display: block;
    margin: 0 auto;
    padding-bottom: 5%;
}
.row1 .column1 h4{
    padding-top: 5%;

    color: white;


}
.row1{
  padding-top: 5%;
  padding-bottom: 5%;
  display: block;
  margin: 0 auto;
  
}
.row1 .column1.text-center{
  height: 300px;
  margin-left: 5%;
  


}
iframe{
  height: 300px;
}


.card-text.contact p{
  font-size: 2px;

}


.services{
  padding-bottom: 0%;
}

.card-group{
  margin-bottom:5%;
  height: auto;
}
.card-group .card img{
    height: 150px;
}

.card-body{
  height: auto;
}
.card-group .card .card-body .card-link{
color: white;
background: #DB710E;
padding: 8px;
width: 80%;
text-align: center;
}

.card-group .card .card-body .card-text{
    font-size: 16px;
    color: white;
}

.new-footer .card-group .card .card-body p{

    font-size: 16px;
    color: white;
}







/* Responsiveness */
@media screen and (max-width: 880px){

  .centered{
    height: auto;
    margin-top: 40%;
  }
  .centered h1{
    text-align: left;
    width: 70%;

  }
.centered h4{
  text-align: left;
  visibility: hidden;
}

.bottom-left {
  visibility: hidden;
}
.row2 .vl{
  visibility: hidden;
}
.row2 .column2.left{
  width: 80%;
  text-align: left;
  margin-left: 10%;
  height: auto;
  

  
}
.row2 .column2.column2.right{

  width: 80%;
  margin-left: 10%;
  height: auto;
}
  .row1 .column1.text-center{
    width: 80%;
    margin-left: 10%;
    height: auto;


  }

}


.cards-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card2 {
  position: relative;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  transform-origin: bottom;
  transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

.card2:hover {
  transform: translateY(-10px) rotateX(-10deg);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.card-image {
  height: 200px;
  overflow: hidden;
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-content {
  padding: 20px;
  background-color: #fff;
}
