/* Container holding the image and the text */
body{background-color: black;
  
  
}
.home-image {
  margin-top: 3.5%;
    position: relative;
    text-align: center;
    color: white;
 
      /* box-shadow: 1px 1px 30px 20px gray; */

  }
  .home-image img{
    opacity: 80%;
    margin-top: 0%;
  }
  hr{
	color: #DB710E;
	padding: 1.5px;
	
  }
  /* body{
    background-image: url("Images/body_img.jpg");
  } */


  .bottom-left {
    position: absolute;
    display: block;
    margin:0 auto;
    bottom: -1px;
    left: 5%;
    font-weight: 900;
	  background: rgb(107, 108, 110);
  border-radius: 1%;
  opacity: 80%;
    color: white;
    width:90%;
    padding: 1%;
    border: 0.01px solid white;
  

  }
  /* Centered text */
  .centered {
    position: absolute;
    top: 40%;
    left:30%;
    transform: translate(-30%, -50%);
    height: auto;

  }

  .centered h1 {
    font-size: 70px;
  }
  .centered h4 {
    text-align: justify;
    color: white;
    font-size: 33px;
    letter-spacing: 0;
  }
  .vl {
    background: #DB710E;
    padding: 1.2px;
    width: 2px; 
    left: 45%;position:absolute;
    height: 170px;}

.row2 .column2.left h1{
    font-weight: 800;
}
.row2 .column2 p{
    font-size: 18px;

}
.row2 .column2.right h4{
    font-style: bold;
    font-weight: 700;
}
.row1 .column1{
	background: rgb(68,68,68);
    color: white;
    margin-left: 5%;
   
    opacity: 60%;
    width: 40%;
    height: 300px;

    

}
.row1 .column1 p{
    font-size: 20px;
    text-align: center;
    width: 90%;
    display: block;
    margin: 0 auto;
    padding-bottom: 5%;
}
.row1 .column1 h4{
    padding-top: 5%;


}


.card-group .card img{
    height: 200px;
}
.card-group .card .card-body .card-link{
color: white;
background: #DB710E;
padding: 8px;
width: 50%;
font-size: 18px;
text-align: center;
}

.card-group .card .card-body .card-text{
    font-size: 16px;
}

.new-footer .card-group .card .card-body p{

    font-size: 16px;
}







/* Responsiveness */
@media screen and (max-width: 880px){

  .centered{
    height: auto;
    margin-top: 40%;
  }
  .centered h1{
    text-align: left;
    width: 70%;

  }
.centered h4{
  text-align: left;
  visibility: hidden;
}

.bottom-left {
  visibility: hidden;
}
.row2 .vl{
  visibility: hidden;
}
.row2 .column2.left{
  width: 80%;
  text-align: left;
  margin-left: 10%;
  height: auto;
  

  
}
.row2 .column2.column2.right{

  width: 80%;
  margin-left: 10%;
  height: auto;
}
  .row1 .column1.text-center{
    width: 80%;
    margin-left: 10%;
    height: auto;


  }

}