body{
  background: black;
}
.flip-card {
    background-color: transparent;
    width: 100%;
    height: 250px;
    
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .container.text-center .flip-card-inner {
    position: relative;
    width: 100%;
    height: 250px;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    padding-bottom: 2%;
  
   
  }
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
 color: white;
background-color: rgb(31,28,28);
     width: 100%;
  }
  .flip-card-front p, .flip-card-front h4 {
    width: 90%;
    padding: 0.5%;
   margin-left: 5%;
   padding-top: 6%;
  }
  .flip-card-back p,.flip-card-back h4 {
    width: 90%;
   margin-left: 5%;
  }
  .flip-card-back li {
    text-align: left;
    margin-left: 5%;
  }
  /* Style the back side */
  .flip-card-back {
    background-color: rgb(31,28,28);
    color: white;
    width: 100%;;
    transform: rotateY(180deg);
  }

  @media screen and (max-width: 880px){

.flip-card{
  visibility: hidden;
}
  }

.new-footer{
  margin-top: -2%;
}
